.postDetailDiv {
  align-content: center;
  text-align: left;
  padding: 20px;
}
.postDetailDiv h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.postDetailDiv h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.postDetailDiv p {
  margin-bottom: 10px;
  width: 60%;
}
