.home-container {
  background-color: rgb(212, 194, 255);
  padding: 20px;
  border-radius: 8px;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
}

.login-box {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: white; 
  padding: 20px;
  border-radius: 10px;
  z-index: 1000; /* 다른 UI 요소들 위로 띄우기 */
}
